@import "./variables";

.contact {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #fcd7cf 2.42%,
    #fdd8d0 15.88%,
    #fcdbd4 22.52%,
    #fadcd4 29.98%,
    #fbdcd7 37.09%,
    #fbded8 42.91%,
    #fbdfdb 49.21%,
    #fce0dc 53.75%,
    #fae1dc 57.69%,
    #fbdfdb 62%,
    #fce0dc 66.68%,
    #fad9d4 81.54%,
    #fbd5d0 88.91%,
    #f8ceca 100%
  );
  z-index: 0;
  overflow: hidden;

  .background {
    position: absolute;
    bottom: 5%;
    left: 0%;
    z-index: 0;
    h1 {
      color: #fff;
      font-size: 230px;
      opacity: 0.4;
      line-height: 230px;
    }
  }
  .span1 {
    width: 240px;
    height: 240px;
    position: absolute;
    bottom: -2%;
    right: -2%;
    border: 10px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
  .span2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8%;
    right: 35%;
    border: 7px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    transform: rotate(-15deg);
  }
  .span3 {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: -18%;
    left: 40%;
    border: 10px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
  .span4 {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -18%;
    left: 30%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
  .contents {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: row;

    .left {
      width: 50%;
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        margin-top: -5px;
        margin: 0%;
      }
    }
    .right {
      width: 50%;
      height: 70%;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 3;

      h1 {
        font-size: 64px;
        font-weight: 600;
        color: $dark-text;
      }
      p {
        margin-top: 10px;
        font-size: 30px;
        color: $light-text;
        font-weight: 300;
        width: 70%;
        margin: 10px 0;
        text-align: center;

        i {
          font-size: 28px;
          margin-right: 20px;
        }
      }
      .box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          font-size: 32px;
          font-weight: 500;
          margin-top: 0px;
          color: $dark-text;
        }
        h2 {
          font-size: 28px;
          color: $light-text;
          font-weight: 300;
        }
      }
    }
  }
}
