@import "./variables";

.header {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bar{
    display: none;
    z-index: 3;
  }

  .logo {
    width: 25%;
    margin: 0;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $dark-text;
      font-size: 44px;
      font-weight: 600;
      &:hover {
        color: $light-text;
      }
    }
  }
  .links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    z-index: 2;
    margin: 0;

    a {
      text-decoration: none;
      margin: 0;
      padding: 0px 25px;
      font-size: 28px;
      color: $dark-text;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $light-text;
      }
    }
    i {
      margin: 0%;
      margin-left: 40px;
      font-size: 28px;
      color: $dark-text;
      cursor: pointer;

      &:hover {
        color: $light-text;
      }
    }
  }
}


.mobile-links {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $background;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .btn {
    width: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    i {
      font-size: 30px;
      margin: 0%;
      color: $dark-text;
    }
  }

  a {
    text-decoration: none;
    font-size: 30px;
    color: $dark-text;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $light-text;
    }
  }
}