@import "./variables";
@import "./homeStyle";
@import "./header";
@import "./footer";
@import "./contact";
@import "./collections";

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Mada', sans-serif;
  max-width: 1560px;
  margin: auto;

  &::-webkit-scrollbar {  
    display: none;
  }
} 
