@import "../variables";

@include media-lg {
  .footer {
    height: fit-content;
    padding: 20px 0px;
    .container {
      flex-direction: column;

      .options {
        width: 100%;
        margin-bottom: 50px;
        h1 {
          display: none;
        }
        .links {
          .column {
            align-items: center;
            justify-content: center;


            h1 {
              display: block;
              text-align: center;
              font-size: 26px;
            }
            a {
              text-align: center;
              font-size: 22px;
            }
          }
        }
      }
      .media {
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
        a {
          h1 {
            font-size: 44px;
            margin-bottom: 20px;
          }
        }

        .media-icons {
          width: 300px;
          margin-bottom: 20px;

          a {
            i {
              font-size: 40px;
            }
          }
        }
        p {
          font-size: 22px;
          &:last-child {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@include media-sm {
  .footer {
    .container {
      .options {
        .links {
          display: flex;
          flex-wrap: wrap;

          .column {
            padding: 20px 0px;
            width: 200px;
            margin-bottom: 50px;
          }
        }
      }
      .media {
        .media-icons {
          width: 100%;
        }
      }
    }
  }
}
