.home1 {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.42%, #fcd7cf), color-stop(15.88%, #fdd8d0), color-stop(22.52%, #fcdbd4), color-stop(29.98%, #fadcd4), color-stop(37.09%, #fbdcd7), color-stop(42.91%, #fbded8), color-stop(49.21%, #fbdfdb), color-stop(53.75%, #fce0dc), color-stop(57.69%, #fae1dc), color-stop(62%, #fbdfdb), color-stop(66.68%, #fce0dc), color-stop(81.54%, #fad9d4), color-stop(88.91%, #fbd5d0), to(#f8ceca));
  background: linear-gradient(180deg, #fcd7cf 2.42%, #fdd8d0 15.88%, #fcdbd4 22.52%, #fadcd4 29.98%, #fbdcd7 37.09%, #fbded8 42.91%, #fbdfdb 49.21%, #fce0dc 53.75%, #fae1dc 57.69%, #fbdfdb 62%, #fce0dc 66.68%, #fad9d4 81.54%, #fbd5d0 88.91%, #f8ceca 100%);
  z-index: 0;
  overflow: hidden;
}

.home1 .background {
  position: absolute;
  bottom: 5%;
  left: 0%;
  z-index: 0;
}

.home1 .background h1 {
  color: #fff;
  font-size: 230px;
  opacity: 0.4;
  line-height: 230px;
}

.home1 .span1 {
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: 5%;
  right: 7%;
  border: 10px solid rgba(255, 255, 255, 0.35);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home1 .span2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8%;
  right: 35%;
  border: 7px solid rgba(255, 255, 255, 0.35);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.home1 .span3 {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: -18%;
  left: 40%;
  border: 10px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home1 .span4 {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -18%;
  left: 30%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home1 .contents {
  width: 100%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home1 .contents .left {
  width: 50%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home1 .contents .left img {
  width: 75%;
  height: auto;
  margin: 0%;
}

.home1 .contents .right {
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.home1 .contents .right h2 {
  font-size: 36px;
  color: #756562;
  font-weight: 300;
  width: 100%;
  text-align: left;
  margin: 0%;
}

.home1 .contents .right h1 {
  font-size: 60px;
  font-weight: 600;
  color: #655552;
  width: 100%;
  text-align: left;
  margin: 0%;
}

.home1 .contents .right p {
  margin-top: 20px;
  font-size: 28px;
  color: #756562;
  font-weight: 300;
  width: 80%;
  margin: 20px 0;
}

.home1 .contents .right a {
  margin: 0;
}

.home1 .contents .right a button {
  float: left;
  background-color: #655552;
  outline: none;
  border: none;
  padding: 8px 25px;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
  margin: 0%;
}

.home1 .contents .right a button:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.home2 {
  width: 90%;
  margin: auto;
  height: 100vh;
  margin-top: 40px;
}

.home2 img {
  width: 100%;
  margin: auto;
}

.collections {
  height: 100vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collections h1 {
  width: 100%;
  text-align: center;
  font-size: 58px;
  font-weight: 600;
  color: #655552;
}

.collections .contents {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.collections .contents a {
  text-decoration: none;
  width: 23%;
  height: auto;
}

.collections .contents .box {
  width: 100%;
  height: 450px;
  background-color: #FCDCD4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.collections .contents .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.collections .contents .box img {
  width: 100%;
  height: 400px;
  margin: 0%;
  border-radius: 10px 10px 0px 0px;
}

.collections .contents .box p {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #655552;
}

.collections a {
  text-decoration: none;
  width: 100%;
}

.collections a .btns {
  width: 99%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.collections a .btns button {
  margin: 0;
  background-color: #655552;
  outline: none;
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
}

.collections a .btns button:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.header {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .bar {
  display: none;
  z-index: 3;
}

.header .logo {
  width: 25%;
  margin: 0;
  cursor: pointer;
}

.header .logo a {
  width: 100%;
  text-decoration: none;
  color: #655552;
  font-size: 44px;
  font-weight: 600;
}

.header .logo a p {
  font-size: 20px;
  width: 70%;
  text-align: right;
  margin-top: -12px;
  opacity: 0.8;
}

.header .logo a:hover {
  color: #756562;
}

.header .links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  margin: 0;
}

.header .links a {
  text-decoration: none;
  margin: 0;
  padding: 0px 25px;
  font-size: 28px;
  color: #655552;
  font-weight: 500;
  cursor: pointer;
}

.header .links a:hover {
  color: #756562;
}

.header .links i {
  margin: 0%;
  margin-left: 40px;
  font-size: 28px;
  color: #655552;
  cursor: pointer;
}

.header .links i:hover {
  color: #756562;
}

.mobile-links {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #FCDCD4;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-links .btn {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-links .btn i {
  font-size: 30px;
  margin: 0%;
  color: #655552;
}

.mobile-links a {
  text-decoration: none;
  font-size: 30px;
  color: #655552;
  font-weight: 500;
  cursor: pointer;
}

.mobile-links a:hover {
  color: #756562;
}

.footer {
  margin-top: 75px;
  width: 100%;
  height: 60vh;
  background-color: #F7F1EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
}

.footer .container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  width: 70%;
}

.footer .container .options h1 {
  font-size: 34px;
  font-weight: 400;
  width: 100%;
  text-align: start;
  color: #655552;
  margin-bottom: 30px;
}

.footer .container .options .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.footer .container .options .links .column {
  width: 23%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .options .links .column h1 {
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  text-align: start;
  color: #655552;
  margin: 10px 0px 20px 0px;
}

.footer .container .options .links .column a {
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
  color: #756562;
}

.footer .container .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin: 0px;
  margin-bottom: -30px;
}

.footer .container .media a {
  text-decoration: none;
  margin-bottom: 10px;
}

.footer .container .media a h1 {
  font-size: 40px;
  text-align: center;
  color: #655552;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}

.footer .container .media a h1 span {
  margin-top: -20px;
  font-size: 20px;
  line-height: 0px;
}

.footer .container .media .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.footer .container .media .media-icons a {
  text-decoration: none;
}

.footer .container .media .media-icons a i {
  font-size: 34px;
  color: #655552;
}

.footer .container .media .media-icons a i:hover {
  color: #756562;
}

.footer .container .media p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #756562;
}

.footer .container .media p:last-child {
  margin-top: 10px;
  font-size: 20px;
}

.footer .copyrights {
  width: 100%;
}

.footer .copyrights p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #756562;
}

.contact {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.42%, #fcd7cf), color-stop(15.88%, #fdd8d0), color-stop(22.52%, #fcdbd4), color-stop(29.98%, #fadcd4), color-stop(37.09%, #fbdcd7), color-stop(42.91%, #fbded8), color-stop(49.21%, #fbdfdb), color-stop(53.75%, #fce0dc), color-stop(57.69%, #fae1dc), color-stop(62%, #fbdfdb), color-stop(66.68%, #fce0dc), color-stop(81.54%, #fad9d4), color-stop(88.91%, #fbd5d0), to(#f8ceca));
  background: linear-gradient(180deg, #fcd7cf 2.42%, #fdd8d0 15.88%, #fcdbd4 22.52%, #fadcd4 29.98%, #fbdcd7 37.09%, #fbded8 42.91%, #fbdfdb 49.21%, #fce0dc 53.75%, #fae1dc 57.69%, #fbdfdb 62%, #fce0dc 66.68%, #fad9d4 81.54%, #fbd5d0 88.91%, #f8ceca 100%);
  z-index: 0;
  overflow: hidden;
}

.contact .background {
  position: absolute;
  bottom: 5%;
  left: 0%;
  z-index: 0;
}

.contact .background h1 {
  color: #fff;
  font-size: 230px;
  opacity: 0.4;
  line-height: 230px;
}

.contact .span1 {
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: -2%;
  right: -2%;
  border: 10px solid rgba(255, 255, 255, 0.35);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contact .span2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8%;
  right: 35%;
  border: 7px solid rgba(255, 255, 255, 0.35);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.contact .span3 {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: -18%;
  left: 40%;
  border: 10px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contact .span4 {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -18%;
  left: 30%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contact .contents {
  width: 100%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .contents .left {
  width: 50%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contents .left img {
  width: 100%;
  height: auto;
  margin-top: -5px;
  margin: 0%;
}

.contact .contents .right {
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}

.contact .contents .right h1 {
  font-size: 64px;
  font-weight: 600;
  color: #655552;
}

.contact .contents .right p {
  margin-top: 10px;
  font-size: 30px;
  color: #756562;
  font-weight: 300;
  width: 70%;
  margin: 10px 0;
  text-align: center;
}

.contact .contents .right p i {
  font-size: 28px;
  margin-right: 20px;
}

.contact .contents .right .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contents .right .box p {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0px;
  color: #655552;
}

.contact .contents .right .box h2 {
  font-size: 28px;
  color: #756562;
  font-weight: 300;
}

.top-nav {
  width: 90%;
  margin: 30px auto;
}

.top-nav .opt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 24px;
  color: #655552;
  cursor: pointer;
  display: none;
}

.top-nav .search {
  width: 75%;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
}

.top-nav .search input {
  width: 90%;
  border: none;
  outline: none;
  text-indent: 20px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  color: #655552;
}

.top-nav .search .icon {
  font-size: 28px;
  width: 10%;
  height: 100%;
  background-color: #FCDCD4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.top-nav .search .icon i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #655552;
}

.top-nav .filter-btn {
  width: 80%;
  height: 50px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-nav .filter-btn p {
  font-size: 24px;
  color: #655552;
  cursor: pointer;
}

.top-nav .filter-btn2,
.top-nav .filter-btn3 {
  width: 80%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-nav .filter-btn2 p,
.top-nav .filter-btn3 p {
  width: 220px;
  text-align: center;
  font-size: 24px;
  color: #655552;
  cursor: pointer;
  line-height: 70px;
}

.collection-lists {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection-lists .box {
  width: 200px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FCDCD4;
  border-radius: 10px;
  margin: 20px auto;
  padding: 0%;
  -webkit-box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.collection-lists .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.collection-lists .box img {
  width: 100%;
  height: auto;
  margin: 0%;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
}

.collection-lists .box .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: auto;
  height: auto;
}

.collection-lists .box .texts h1 {
  font-size: 28px;
  font-weight: 500;
  color: #655552;
  margin-bottom: 10px;
  text-align: center;
}

.collection-lists .box .texts p {
  color: #756562;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.collection-lists .box .texts h2 {
  font-size: 22px;
  color: #655552;
  font-weight: 400;
}

.collection-lists .box .texts h2 span {
  font-size: 32px;
  font-weight: 600;
}

.collection-lists .box .texts h2 del {
  font-size: 18px;
  font-weight: 300;
}

.collection-lists .box button {
  width: 100%;
  text-align: center;
  background-color: #655552;
  color: #fff;
  padding: 10px 0px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
  margin: 0%;
  font-size: 18px;
}

.collection-lists .box button i {
  font-size: 16px;
  margin-right: 10px;
}

.fav {
  width: 90%;
  margin: auto;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fav .emptyList {
  width: 50%;
  height: 80vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fav .emptyList img {
  width: 60%;
  margin: auto;
}

.fav .emptyList h1 {
  font-size: 36px;
  color: #655552;
  text-align: center;
}

.fav .emptyList a {
  text-decoration: none;
  font-size: 22px;
  color: #756562;
  cursor: pointer;
}

.fav .emptyList a:hover {
  color: #655552;
  text-decoration: underline;
}

.fav-box {
  max-width: 500px;
  width: 40%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 1px 1px 10px rgba(39, 33, 33, 0.1);
          box-shadow: 1px 1px 10px rgba(39, 33, 33, 0.1);
  border-radius: 12px;
  margin: 30px auto;
}

.fav-box img {
  height: 100%;
  width: auto;
  margin: 0;
  border-radius: 12px;
}

.fav-box .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 85%;
  margin: auto;
  margin-left: 10px;
}

.fav-box .texts h1 {
  font-size: 36px;
  color: #655552;
  font-weight: 600;
  width: 100%;
  text-align: left;
  margin: 7px 0;
}

.fav-box .texts p {
  font-size: 20px;
  color: #756562;
  margin: 0%;
}

.fav-box .texts h2 {
  color: #655552;
  font-size: 30px;
  font-weight: 300;
  width: 100%;
  text-align: left;
}

.fav-box .texts h2 span {
  font-size: 36px;
  font-weight: 600;
}

.fav-box .texts div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fav-box .texts div button {
  outline: none;
  border: none;
  width: 55px;
  height: 55px;
  background-color: #655552;
  border-radius: 50%;
  margin: 0%;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.fav-box .texts div button i {
  color: #fff;
  font-size: 22px;
}

.fav-box .texts div button:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1266px) {
  .header .logo {
    width: 40%;
  }
  .header .mobile-links {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .header .logo {
    width: 90%;
    z-index: 3;
  }
  .header .bar {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0%;
  }
  .header .bar i {
    font-size: 30px;
    margin: 0%;
    color: #655552;
  }
  .header .links {
    display: none;
  }
  .mobile-links {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .mobile-links {
    width: 100%;
  }
  .header .logo a {
    font-size: 32px;
  }
  .header .logo a p {
    font-size: 18px;
  }
  .header .bar i {
    font-size: 28px;
  }
}

@media screen and (max-width: 1266px) {
  .home1 .span1 {
    display: none;
  }
  .home1 .span2 {
    right: 20%;
  }
  .home1 .background h1 {
    opacity: 0.27;
  }
  .home1 .contents .left .img {
    width: 100%;
  }
  .home1 .contents .right h1 {
    font-size: 48px;
  }
  .home1 .contents .right h2 {
    font-size: 30px;
  }
  .home1 .contents .right p {
    font-size: 24px;
  }
  .home1 .contents .right button {
    font-size: 24px;
  }
  .collections h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 970px) {
  .home1 .span2 {
    right: 10%;
    border: 7px solid rgba(255, 255, 255, 0.25);
  }
  .home1 .span3 {
    left: 60%;
  }
  .home1 .contents .right h1 {
    font-size: 40px;
  }
  .home1 .contents .right h2 {
    font-size: 26px;
  }
  .home1 .contents .right p {
    font-size: 22px;
  }
  .home1 .contents .left img {
    width: 100%;
  }
  .collections {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0px;
  }
  .collections h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .collections .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collections .contents a {
    width: 200px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .collections .contents .box {
    margin-bottom: 30px;
    width: 100%;
    height: 350px;
  }
  .collections .contents .box img {
    width: 100%;
    height: 100%;
  }
  .collections .contents .box p {
    padding: 10px 0px;
    font-size: 28px;
  }
  .collections .btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .home1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    overflow: hidden;
  }
  .home1 .background {
    width: 90%;
    margin: auto;
  }
  .home1 .background h1 {
    font-size: 200px;
    text-align: center;
    opacity: 0.2;
  }
  .home1 .span2 {
    top: 60%;
    right: 2%;
  }
  .home1 .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .home1 .contents .right {
    width: 80%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5ebeb;
    padding: 20px 0px;
    margin-top: -10px;
    border-radius: 20px;
  }
  .home1 .contents .right p {
    text-align: center;
  }
  .home1 .contents .right h1 {
    text-align: center;
  }
  .home1 .contents .right h2 {
    text-align: center;
  }
  .home2 {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0px;
  }
  .collections h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 550px) {
  .background {
    width: 100vw;
    overflow: hidden;
  }
  .background h1 {
    width: 100vw;
    overflow: hidden;
  }
  .span2 {
    display: none;
  }
  .span3 {
    display: none;
  }
  .home1 .contents .left {
    width: 100vw;
  }
  .home1 .contents .left img {
    width: 100vw;
  }
  .collections h1 {
    font-size: 30px;
  }
  .collections a {
    margin-bottom: 30px;
  }
  .collections a .btns {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .collections a .btns button {
    font-size: 24px;
    padding: 8px 20px;
  }
}

@media screen and (max-width: 970px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .options {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer .container .options h1 {
    display: none;
  }
  .footer .container .options .links .column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .options .links .column h1 {
    display: block;
    text-align: center;
    font-size: 26px;
  }
  .footer .container .options .links .column a {
    text-align: center;
    font-size: 22px;
  }
  .footer .container .media {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 50px;
  }
  .footer .container .media a h1 {
    font-size: 44px;
    margin-bottom: 20px;
  }
  .footer .container .media .media-icons {
    width: 300px;
    margin-bottom: 20px;
  }
  .footer .container .media .media-icons a i {
    font-size: 40px;
  }
  .footer .container .media p {
    font-size: 22px;
  }
  .footer .container .media p:last-child {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .footer .container .options .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .container .options .links .column {
    padding: 20px 0px;
    width: 200px;
    margin-bottom: 50px;
  }
  .footer .container .media .media-icons {
    width: 100%;
  }
}

@media screen and (max-width: 1266px) {
  .contact .background h1 {
    opacity: 0.3;
  }
  .contact .span1 {
    display: none;
  }
  .contact .contents .left .img {
    width: 100%;
  }
  .contact .contents .right .box p {
    font-size: 26px;
  }
}

@media screen and (max-width: 970px) {
  .contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .contents {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .contact .contents .left {
    width: 70%;
  }
  .contact .contents .right {
    width: 80%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5ebeb;
    padding: 20px 0px;
    margin-top: -10px;
    border-radius: 20px;
  }
  .contact .contents .right h1 {
    font-size: 50px;
  }
  .contact .contents .right p {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .contact .contents .right .box {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .contact .contents .left {
    width: 90%;
    margin: 0%;
    margin-left: -25px;
  }
  .contact .contents .right h1 {
    font-size: 32px;
  }
  .contact .contents .right .box p {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .contact .contents .right .box p {
    font-size: 16px;
  }
  .contact .contents .right p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1266px) {
  .top-nav .opt {
    display: block;
  }
  .top-nav .filter-btn2 {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .top-nav .search {
    width: 80%;
  }
  .top-nav .search input {
    width: 85%;
  }
  .top-nav .search .icon {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .top-nav .search {
    width: 90%;
  }
  .top-nav .search input {
    width: 85%;
  }
  .top-nav .search .icon {
    width: 15%;
  }
}

@media screen and (max-width: 360px) {
  .top-nav .search {
    width: 90%;
  }
  .top-nav .search input {
    width: 80%;
  }
  .top-nav .search .icon {
    width: 20%;
  }
}

@media screen and (max-width: 1266px) {
  .fav-box {
    width: 450px;
  }
  .fav-box .texts h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 970px) {
  .fav .emptyList {
    width: 70%;
  }
  .fav-box {
    width: 70%;
  }
  .fav-box img {
    width: auto;
    height: 100%;
  }
  .fav-box .texts h1 {
    font-size: 28px;
  }
  .fav-box .texts h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 550px) {
  .fav .emptyList {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0px;
    margin: 30px auto;
  }
  .fav .emptyList img {
    width: 100%;
  }
  .fav .emptyList h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto 40px 0px;
  }
  .fav-box {
    width: 100%;
    height: 200px;
  }
  .fav-box img {
    width: auto;
    height: 100%;
  }
  .fav-box .texts h1 {
    font-size: 22px;
    margin: 0px 0px;
  }
  .fav-box .texts h2 {
    font-size: 20px;
  }
  .fav-box .texts div button {
    width: 40px;
    height: 40px;
  }
  .fav-box .texts div button i {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .fav-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 52%;
    height: 500px;
  }
  .fav-box img {
    width: 100%;
    height: auto;
  }
  .fav-box .texts {
    width: 100%;
    margin-left: 0px;
  }
  .fav-box .texts h1 {
    text-align: center;
  }
  .fav-box .texts p {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .fav-box .texts h2 {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .fav-box .texts div {
    width: 80%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fav-box .texts div button {
    width: 40px;
    height: 40px;
  }
  .fav-box .texts div button i {
    font-size: 18px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Mada', sans-serif;
  max-width: 1560px;
  margin: auto;
}

*::-webkit-scrollbar {
  display: none;
}
